


{{!-- <div class="container">
{{#each tracks}}
<div class="card border-0 text-center" style="width: 18rem";>
 // <img src={{images.0.url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="/tracks/{{id}}" class="btn btn-primary">View Tracks</a>
  </div>
</div>
{{/each}}
</div> --}}


<table class="table table-striped">
{{#each tracks}}
    <tr>
        <td>{{images.2.url}}</td>
        <td>{{name}}</td>
        <td>
            <figure>
                <figcaption>Listen to the T-Rex:</figcaption>
                <audio controls src={{preview_url}}>
                    <a href={{external_urls.spotify}}>
                        Download audio
                    </a>
                </audio>
            </figure>
        </td>
    </tr>
{{/each}}
</table>
